:root {
  --red: #e50914;
  --black: #141414;
  --title: #aaa;
  --text: #fff;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  background: var(--black);
  font-family: "Montserrat", sans-serif;
  font-size: 1.6rem;
  max-width: 120rem;
  margin: 0 auto;
  color: var(--text);
}

a {
  text-decoration: none;
}

/* Header */
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 1rem;
}

header h2 {
  color: var(--red);
  font-weight: 600;
  font-size: 3.6rem;
}

header nav a {
  color: var(--title);
  font-size: 1.6rem;
  font-weight: 700;
  letter-spacing: 0.1rem;
  transition: all 0.2s ease-in-out;
  margin-right: 1rem;
}

header nav a:hover {
  color: #fff;
}

/* Main */
.main-movie {
  margin-top: 1rem;
  font-size: 1.6rem;
  background: url("/assets/img/main-movie.png");
  background-size: cover;
  height: 40rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.main-movie .container h3 {
  font-size: 3.2rem;
  padding: 1rem;
  width: 60%;
}

.main-movie p {
  padding: 1rem;
  margin-top: 1rem;
  max-width: 60%;
}

.main-movie .buttons {
  padding: 1rem;
  margin-top: 3rem;
}

.main-movie .action {
  font-size: 1.6rem;
  cursor: pointer;
  justify-content: center;
  padding: 1rem 2rem;
  border-radius: 0.4rem;
  border: none;
  color: var(--black);
  background-color: rgba(255, 255, 255, 1);
  transition: 0.5s;
}

.main-movie .action span {
  font-size: 1.8rem;
  margin-right: 0.5rem;
}

.main-movie .action:hover {
  background-color: rgba(255, 255, 255, 0.7);
}

.main-movie .info {
  font-size: 1.6rem;
  cursor: pointer;
  margin-left: 0.7rem;
  padding: 1rem 2rem;
  border-radius: 0.4rem;
  border: none;
  color: var(--text);
  background-color: rgba(155, 155, 155, 0.9);
  transition: 0.5s;
}

.main-movie .info span {
  font-size: 1.8rem;
  margin-right: 0.5rem;
}

.main-movie .info:hover {
  background-color: rgba(155, 155, 155, 0.5);
}

.main-movie .footer {
  margin-top: 3rem;
}

.box-movie {
  height: 100%;
  width: 100%;
  display: block;
}
